<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array" force="false"/>
        <env name="DB_CONNECTION" value="sqlite" force="false"/>
        <env name="DB_DATABASE" value=":memory:" force="false"/>
        <env name="DB_HOST" value="127.0.0.1" force="false"/>
        <env name="DB_PORT" value="5432" force="false"/>
        <env name="DB_USERNAME" value="zap" force="false"/>
        <env name="DB_PASSWORD" value="zap" force="false"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync" force="false"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="INERTIA_SSR_ENABLED" value="false"/>
        <env name="MAX_INSTANCES_PER_WORKSPACE" value="1"/>
        <env name="EVOLUTION_BASE_URL" value="http://evolution.test"/>
        <env name="EVOLUTION_API_KEY" value="test-evolution-key"/>
        <env name="EVOLUTION_WEBHOOK_BASE_URL" value="http://zap.test"/>
        <env name="EVOLUTION_CONNECT_TIMEOUT" value="1"/>
        <env name="EVOLUTION_REQUEST_TIMEOUT" value="2"/>
        <env name="RATE_LIMIT_PUBLIC_API" value="60"/>
        <env name="RATE_LIMIT_PUBLIC_API_WORKSPACE" value="120"/>
        <env name="SANCTUM_STATEFUL_DOMAINS" value=""/>
        <env name="SANCTUM_TOKEN_PREFIX" value="zap_live_"/>
        <env name="MEDIA_DISK" value="media"/>
        <env name="RETENTION_INBOX_DAYS" value="90"/>
        <env name="RETENTION_MEDIA_DAYS" value="7"/>
        <env name="RETENTION_IDEMPOTENCY_HOURS" value="24"/>
        <env name="WEBHOOK_RETRY_JITTER_SECONDS" value="0"/>
        <env name="WEBHOOK_ALLOW_HTTP" value="true"/>
        <env name="WEBHOOK_ALLOW_PRIVATE_NETWORKS" value="false"/>
    </php>
</phpunit>
